# Population Estimation

**Task:** Predict the individualCount (how many bees observed) from features like location, year, elevation, species.

**Type:** Regression.

**Example:** â€œHow many individuals of this species are expected in this region?

In [2]:
#Step 0 - Load the dataset
import pandas as pd

df_bees = pd.read_csv("0060472-250827131500795.csv", sep="\t")

print("Shape:", df_bees.shape)
df_bees.head()
#Step 1 - Target and Feature Selection

target = "individualCount"

features = [
    "decimalLatitude", "decimalLongitude", "elevation",
    "year", "month", "genus", "stateProvince", "countryCode"
]

df_model = df_bees.dropna(subset=[target])

X = df_model[features]
y = df_model[target]

print("Shape of X:", X.shape)
print("Shape of y:", y.shape)
X.head()

Shape: (3393, 50)
Shape of X: (3393, 8)
Shape of y: (3393,)

,decimalLatitude,decimalLongitude,elevation,year,month,genus,stateProvince,countryCode
0,16.040417,99.2331,301.0,2007.0,9.0,Tetragonula,Kamphaeng Phet,TH
1,16.040417,99.2331,301.0,2007.0,9.0,Tetragonula,Kamphaeng Phet,TH
2,16.040417,99.2331,301.0,2007.0,9.0,Tetragonula,Kamphaeng Phet,TH
3,16.040417,99.2331,301.0,2007.0,9.0,Tetragonula,Kamphaeng Phet,TH
4,16.040417,99.2331,301.0,2007.0,9.0,Tetragonula,Kamphaeng Phet,TH

In [3]:
#Step 2 - Train/Test Split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

print("Train shape:", X_train.shape, "Test shape:", X_test.shape)

Train shape: (2714, 8) Test shape: (679, 8)

In [ ]:
#Step 3 - Preprocessing

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

numeric_features = ["decimalLatitude", "decimalLongitude", "elevation", "year", "month"]
categorical_features = []